In [249]:
import pandas as pd
import numpy as np

df=pd.read_csv("model_predictions.csv",header=None)
df.columns=["name","fc","fc_cat","cnn_cat","env_and_freq_cat","average_cat","stack_size","iteration_num"]
df=df.sample(frac=1)

In [250]:
#how often does a stacksize result in a generation?
df.groupby('stack_size').count()

,name,fc,fc_cat,cnn_cat,env_and_freq_cat,average_cat,iteration_num
stack_size,,,,,,,
1,1781,1781,1781,1781,1781,1781,1781
2,1753,1753,1753,1753,1753,1753,1753
4,316,316,316,316,316,316,316

In [251]:
#what are the group counts?
df=df[df["average_cat"]==df["cnn_cat"]]
df.groupby('average_cat').count()

,name,fc,fc_cat,cnn_cat,env_and_freq_cat,stack_size,iteration_num
average_cat,,,,,,,
clap,150,150,150,150,150,150,150
hat,1027,1027,1027,1027,1027,1027,1027
kick,801,801,801,801,801,801,801
rim,327,327,327,327,327,327,327
snare,891,891,891,891,891,891,891

In [252]:
df1=df[df["stack_size"]==1]
df2=df[df["stack_size"]==2]
df4=df[df["stack_size"]==4]

In [256]:
survey_rows=pd.concat([df1.groupby('cnn_cat').head(20),df2.groupby('cnn_cat').head(20),df4.groupby('cnn_cat').head(20)])
survey_rows

,name,fc,fc_cat,cnn_cat,env_and_freq_cat,average_cat,stack_size,iteration_num
3629,1-2P0O.wav,0.916376,hat,hat,hat,hat,1,81583
151,1-MMM0.wav,0.864433,kick,kick,hat,kick,1,37705
1317,1-3A5S.wav,0.915831,kick,kick,hat,kick,1,8066
3795,1-KZAA.wav,0.853264,kick,kick,snare,kick,1,86252
3174,1-PTNF.wav,0.876694,kick,kick,snare,kick,1,66464
...,...,...,...,...,...,...,...,...
579,4-OURV.wav,0.908681,snare,clap,clap,clap,4,27
1623,4-9HGN.wav,0.984712,snare,rim,hat,rim,4,17667
3230,4-DNBQ.wav,0.942446,snare,rim,hat,rim,4,68562
916,4-ITB7.wav,0.923348,snare,rim,hat,rim,4,6799
3313,4-9D47.wav,0.724753,snare,clap,hat,clap,4,71416

In [257]:
from shutil import copyfile

for n in survey_rows["name"]:
    copyfile("survey/"+n, "./filtered_survey/"+n)

sr=survey_rows.sort_values('name', ascending=True)
sr.to_csv("survey_answers.csv",index=False)

In [258]:
surv=survey_rows[["name"]].copy()
surv=surv.sort_values('name', ascending=True)
surv=surv.reset_index(drop=True)
surv["drum_category"]=""
surv.to_csv("survey.csv",index=False)